.logo {
    display: block;
    margin: 27px 0;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;

    color: get-color('title-txt-clr');
}

.logo span {
    color: get-color('accent-clr');
}

.logo--invers {
    color: get-color('bg-clr');
}